.card {
  width: 20rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  /* height: 20rem; */
  width: 100%;
  /* object-fit: cover; */
}
.card-body {
  padding: 1rem;
}
.card-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.card-text {
  margin-bottom: 0.5rem;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
